* {
  font-family: "azo-sans-web";
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
}
.jumbotron {
  background-image: url('../img/jumbotron-01-xs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-color: rgb(97, 93, 99);
  background-blend-mode: overlay;
}
.jumbotron .logo {
  margin-top: 270px;
  max-width:400px;
}

.jumbotron .ds-caret {
  margin-top: 270px;
  margin-bottom: 50px;
}

.ds-caret {
  max-width: 60px;
}

.explore, .connect {
  padding-bottom: 60px;
}

.explore {
  background-color: #2f2235;
  background-image: url('../img/graphic-leaf-01.svg');
  background-repeat: no-repeat;
  background-position: -30px 40px;
  background-size: 360px;
  color: #e5e4e2;
  padding-top: 170px;
}

.explore .intro {
  padding-bottom: 40px;
}

.intro h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.intro h2::after {
  border-bottom: 2px solid #c3996c;
  content: " ";
  display: block;
  margin-bottom: 20px;
  min-height: 30px;
  width: 50px;
}

.amenity {
  margin-bottom: 50px;
}

.amenity-icon {
  width: 60px;
}

.amenity h3 {
  color: #c3996c;
  text-transform: uppercase;
}

.connect {
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  color: #2f2235;
  padding-top: 60px;
}

.connect-bg {
  background-image: url('../img/doon-south-blowing-dandielions-xs.jpg');
  background-size: cover;
  min-height: 400px;
  padding: 0;
}

.connect .background {
  padding: 0;
}

.connect h3 {
  padding: 7px 26px;
  display: inline-block;
  border: 2px solid #c3996c;
  font-size: 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.connect ul {
  -webkit-padding-start: 0;
}

.connect li {
  display: block;
  list-style-type: none;
  margin-top: 5px;
}

.connect .ds-caret {
  margin-top: 60px;
}

.live {
  background-image: url('../img/graphic-leaf-02.svg');
  background-repeat: no-repeat;
  background-position: 100% 30px;
  background-size: 280px;
  color: #2f2235;
  padding-top: 150px;
}

.live .intro {
  margin-bottom: 32px;
}

.viewer .home-type {
  text-align: center;
}

.viewer #villas, .viewer #towns {
  background-color: rgba(255,255,255,0.59);
  border: 2px solid #2f2235;
  font-size: 1.6em;
  display: inline-block;
  padding: 7px 26px;
  margin-top:6px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.viewer #villas {
  margin-right: 12px;
}

.viewer #towns {
  margin-left: 12px;
}

.viewer #villas.active, .viewer #towns.active {
  background-color: #2f2235;
  color: #ffffff;
}

.viewer .details {
  margin-bottom: 44px;
}

.viewer .unit {
  margin-top: 3px;
  margin-bottom: 12px;
  text-align: center;
}

.viewer .unit .pill {
  background-color: rgba(195,153,108,0.73);
  display: inline-block;
  height: 18px;
  margin-left: 12px;
  margin-right: 12px;
  width: 74px;
}

.viewer .unit .pill:first-child {
  margin-left: 0;
}

.viewer .unit .pill:last-child {
  margin-left: 0;
}

.viewer .unit .pill.active {
  background-color: #c3996c;
}

.viewer .drawing {
  max-height: 250px;
  margin: 34px auto;
}

.description h3, .description h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.description h4 {
  margin-bottom: 2px;
}

.description h3 {
  color: #c3996c;
  font-size: 2.6em;
  font-weight: 600;
  margin-top: 3px;
}

.description ul {
  -webkit-padding-start: 0;
}

.description li {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  border-right: 2px solid #2f2235;
  padding-right: 12px;
  padding-left: 12px;
}

.description li:first-child {
  padding-left: 0;
}

.description li:last-child {
  border-right: 0;
}

.description .price {
  font-size: 2.8em;
  font-weight: 600;
  letter-spacing: -1.6px;
  transform: scaleX(0.9);
  transform-origin: left top;
}

sup {
  vertical-align: sub;
}

.floorplan {
  margin-bottom: 44px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.siteplan {
  background-color: #f7f7f7;
  background-image: url('../img/graphic-leaf-04.svg');
  background-size: 200px;
  background-position: 92% 30px;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 70px;
}

.legend {
  font-weight: 600;
  letter-spacing: 1px;
  list-style-type: none;
  text-transform: uppercase;
  -webkit-padding-start: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.legend li {
  margin: 8px auto;
}

.legend .swatch {
  display: inline-block;
  height: 24px;
  margin-right: 12px;
  width: 36px;
  vertical-align: middle;
}

.legend .swatch-villas {
  background-color: #2f2235;
}

.legend .swatch-towns {
  background-color: #c3996c;
}

.register {
  padding-top: 150px;
}

.register .logo {
  margin-bottom: 44px;
}

/*********************************/
/*         SMALL DEVICES         */
/*********************************/

@media (min-width: 768px) {

  .jumbotron {
    background-image: url('../img/jumbotron-01-xs.jpg');
  }

  .jumbotron .logo {
    margin-top: 310px;
    max-width:500px;
  }

  .explore {
    background-size: 470px;
    background-position: 7% 40px;
  }

  .connect-bg {
    background-image: url('../img/doon-south-blowing-dandielions-sm.jpg');
    background-position: center;
  }

  .viewer .home-type {
    text-align: left;
  }

  .viewer .unit {
    padding-top: 40px;
    text-align: left;
  }

  .viewer .floorplan {
    background: #f7f7f7;
  }

  .floorplan img {
    max-height: 780px;
  }

  .siteplan {
    background-position: 95% 30px;
  }

}

/**********************************/
/*         MEDIUM DEVICES         */
/**********************************/

@media (min-width: 992px) {

  .jumbotron {
    background-image: url('../img/jumbotron-01-sm.jpg');
  }

  .viewer .unit {
    padding-top: 0;
  }

  .viewer .home-type {
    margin-bottom: 12px;
  }

  .viewer .drawing {
    text-align: left;
    width: 83%;
  }

  .connect-bg {
    background-image: url('../img/doon-south-blowing-dandielions.jpg');
    background-position: center;
  }

}
